Library
Logs
Temp
UserSettings/Layouts/default-2021.dwlt
.python-version
.vscode/settings.json
.vscode/settings.json
Assets/ML-Agents/Timers/Pacman_timers.json
Logs/*
*.pt
Assets/ML-Agents/Timers/Pacman_timers.json
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Pacman_Data/*
Pacman_BurstDebugInformation_DoNotShip/Data/Plugins/lib_burst_generated.txt
Environments/*